.main-body{
	width:90%;
	margin: 0 auto;
}
.fwb{
	font-weight: bold;
}
.row-box-hd{
	font-weight: bold;
}
.page-side{
	width:260px;
	margin-right: 10px;
}
.bglist-item{
	line-height: 30px;
	padding: 3px 6px;
	display: block;
}
.bglist-item.active{
	background-color: #4892e3;
	color: #fff;
}
.col-2{
	width: 50%;
}
.col-3{
	width:33.333%;
}
.col-4{
	width: 25%;
}
.col-5{
	width: 20%;
}